# FaceGuard — ESP32-S3 N16R8 (16MB Flash, 8MB OPI PSRAM)
# For ESP-IDF v5.x / v6.x

# Flash size
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# PSRAM — OPI for N16R8 (8MB Octal)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y

# Partition table (custom)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Force TIE728 vector path in ESP-DL (IDF v6.0 compatibility)
CONFIG_TIE728_BOOST=y

# SPIFFS for face feature database partition
CONFIG_SPIFFS_MAX_PARTITIONS=2
